<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://ktmed.s3.jp-tok.cloud-object-storage.appdomain.cloud/ab1.jpg">
    <link rel="stylesheet" href="https://medkit.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
    <title style="color:red">KT med+</title>
</head>
<body>
    <div class="flex-container">
        <img id="astro" src="https://ktmed.s3.jp-tok.cloud-object-storage.appdomain.cloud/ab1.jpg" alt="burenyuu">
		<h1 style="color:red">KT med+</h1>
    </div>
    <br>
    <br>
	 <div class="flex-container">
        <img id="doctor" src="https://ktmed.s3.jp-tok.cloud-object-storage.appdomain.cloud/ab1.jpg" alt="doctor" type="image/jpg">
    <br>
    <br>
    </div>
	<h2 style="color:red"><b>welcome to our Hospital<b></h2>
	<p style="color:white">Hi! You can find the nearest hospital branches by using our Chat Assistant :)</p>
    <img src="https://ktmed.s3.jp-tok.cloud-object-storage.appdomain.cloud/nurse.jpg" style="width:800px;height:400px; alt="24/7">
    <br>
    <br>
   <img id="nurse" src="https://medkit.s3.jp-tok.cloud-object-storage.appdomain.cloud/nurse.jpg" style="width:800px;height:400px; alt="nurse" type="image/jpg"> 
    <p style="color:white"><b>Welcome to KT med+ Hospital and Health Care Center's website! Our site holds a wealth of information about the services and programs we offer for our regional community 
	as well	as general health news,a provider listing and career opportunities.I appreciate the significant trust you place in us!</b></p>
    <br>
    <br>
    <p style="color:white">CopyLeft 2022 KT Corporation Ltd.</p>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "6ee28e2d-5de4-43a1-971c-f4cee8b3c869", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "aa0eea07-4fd2-42e0-bc89-8540a3880e16", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>	
	
</body>
</html>